/* Math Keyboard Container */
.math-keyboard-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  font-family: sans-serif;
  color: #e2e8f0; 
  background-color: #2d3748;
  padding: 20px;
  border-radius: 12px;
}
.input-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: max-content;
}

.input-container label{
  font-size: 1.2rem;
}



/* Math Input */
.math-input {
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #4a5568; 
  background-color: #4a5568; 
  color: #e2e8f0; 
}

.keyboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.keyboard-grid button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #4a5568;
  color: #e2e8f0;
  cursor: pointer;
  transition: 0.2s;
}

.keyboard-grid button:hover {
  background-color: #2d3748;
}

.clear-button {
  background-color: #e63946 !important; 
  color: white;
}

.clear-button:hover {
  background-color: #ba3131  !important;
}

@media (max-width: 371px) {
  /* Math Input */
  .math-input {
    display: flex;
    width: 100%; /* kapsayıcı div'in genişliğine uyum sağlar */
    font-size: 1.2rem;
    padding: 8px;
    margin: 10px 0; /* yatay margin'leri sıfırlayarak taşmayı engeller */
    border-radius: 6px;
    border: 1px solid #4a5568; 
    background-color: #4a5568; 
    color: #e2e8f0; 
    box-sizing: border-box; /* padding ve border dahil edilerek taşmayı önler */
    overflow: hidden; /* ekstra içerik taşarsa gizler */
  }
}