/* MATH KEYBOARD - Tema duyarlı */

.math-keyboard-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  font-family: sans-serif;
  color: var(--math-text);
  background-color: var(--math-bg);
  padding: 20px;
  border-radius: 12px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: max-content;
}

.input-container label {
  font-size: 1.2rem;
}

.math-input {
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--math-border);
  background-color: var(--math-input-bg);
  color: var(--math-text);
}

.keyboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.keyboard-grid button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--math-button-bg);
  color: var(--math-button-text);
  cursor: pointer;
  transition: 0.2s;
}

.keyboard-grid button:hover {
  background-color: var(--math-button-hover);
}

.clear-button {
  background-color: #e63946 !important; 
  color: white;
}

.clear-button:hover {
  background-color: #ba3131  !important;
}

@media (max-width: 371px) {
  .math-input {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid var(--math-border);
    background-color: var(--math-input-bg);
    color: var(--math-text);
    box-sizing: border-box;
    overflow: hidden;
  }
}

:root {
  --math-bg: #f9fafb;
  --math-text: #1e293b;
  --math-border: #cbd5e1;
  --math-input-bg: #e2e8f0;
  --math-button-bg: #cbd5e1;
  --math-button-text: #1e293b;
  --math-button-hover: #94a3b8;
}

.dark {
  --math-bg: #2d3748;
  --math-text: #e2e8f0;
  --math-border: #4a5568;
  --math-input-bg: #4a5568;
  --math-button-bg: #4a5568;
  --math-button-text: #e2e8f0;
  --math-button-hover: #2d3748;
}
